[Unit]
Description=radeonvii

[Service]
Type=simple
ExecStartPre=/your/script/path/radeonvii temp
ExecStart=/your/script/path/radeonvii undervolt 1050

[Install]
WantedBy=multi-user.target
